/* src/ResetPassword.css */

/* Layout for the Reset Password page */
.reset-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url('images/BGimage.png') repeat center center fixed;
    background-size: 60%;
}

/* Styling for the password reset card */
.reset-password-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: #333;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

/* Page heading */
.reset-password-card h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Styling for the input fields */
.reset-password-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.reset-password-card input:focus {
    border-color: #ef5427;
}

/* Error message */
.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Button styling */
.reset-password-card button {
    background-color: rgba(255, 217, 79, 0.8);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.reset-password-card button:hover {
    background-color: rgba(255, 217, 79, 1);
    transform: scale(1.05);
}

.reset-password-card button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 217, 79, 0.5);
}
