/* src/SignupForm.css */
.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9e6ca; /* Background color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.signup-form-container h2 {
    margin-bottom: 20px;
    font-family: 'Rochester', sans-serif; /* Use local font */
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Set a fixed width for the form */
}

.signup-form input {
    margin: 10px 0; /* Margin for spacing between input fields */
    padding: 10px; /* Padding inside input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
}

.signup-form button {
    background-color: #86ba4a; /* Button color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.signup-form button:hover {
    background-color: #ef5427; /* Change color on hover */
}

.signup-form p {
    margin-top: 10px; /* Margin for the paragraph */
}
