.container {
    margin-top: 20px;
    /* text-align: center; */
}

.heading {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
