/* General Container */
.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 8px;
  position: relative;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Close Icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Form Structure */
.form {
  display: grid;
  gap: 16px;
}

/* Labels and Inputs */
label {
  font-weight: 600;
}

input[type="text"],
input[type="tel"],
input[type="file"],
input[type="time"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Textarea specific styling */
textarea {
  resize: none;
  height: 50px;
}

/* Capacity and Cuisine Selectors */
 .cuisine-selector {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.capacity-selector{
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

/* Capacity Control Buttons */
.capacity-selector div {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  padding: 8px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #b0bec5;
}

/* Total Capacity Styling */
.total-capacity {
  font-weight: 600;
}

/* Preview Modal */
.preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.large-preview-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  border: 4px solid #ffffff;
}

/* Navigation Buttons for Preview */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

/* Close Button for Preview */
.close-preview-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #1976d2;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

/* Submit and Clear Buttons */
.button-group {
  display: flex;
  justify-content: space-between;
}

.button-primary {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit {
  background-color: green;
  color: #ffffff;
}

.button-clear {
  background-color: #e53935;
  color: #ffffff;
}
/* Food Preference Section */
.food-preference-selector {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.food-preference-selector label {
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.food-preference-selector input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}
