.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    width: 280px;
    text-align: center;
    color: #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(10px);
}

.imageContainer {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 15px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.card h3 {
    margin-bottom: 5px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    background-color: #86ba4a;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.button:hover {
    background-color: #ef5427;
}

.manageButton {
    position: relative;
  }
  
  .notificationBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }