/* Sidebar.module.css */
.sidebar {
  position: fixed; /* Keep the sidebar fixed */
  top: 0;
  left: 0;
  width: 250px; /* Fixed width for the sidebar */
  height: 100vh; /* Ensure sidebar takes full height of the viewport */
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure sidebar stays on top */
}

.sidebar h2 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.sidebar ul li a:hover {
  color: #ef5427; /* Accent color on hover */
}

.addRestaurantButtonContainer {
  margin-top: 20px;
}

.addRestaurantButton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #86ba4a; /* Green button color */
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.addRestaurantButton:hover {
  background-color: #ef5427; /* Hover color for the button */
}
